asgiref==3.5.2
Brotli==1.0.9
cffi==1.15.0
cssselect2==0.6.0
Django==4.0.2
django-crum==0.7.9
django-tenants==3.9.0
django-user-agents==0.4.0
django-widget-tweaks==1.4.12
et-xmlfile==1.1.0
fonttools==4.33.3
html5lib==1.1
openpyxl==3.0.9
pillow==10.4.0
pycparser==2.21
pydyf==0.1.2
pyphen==0.12.0
psycopg2-binary==2.9.11
python-decouple==3.8
setuptools==80.9.0
six==1.16.0
sqlparse==0.4.2
tinycss2==1.1.1
tzdata==2022.1
ua-parser==0.10.0
user-agents==2.2.0
weasyprint==55.0
webencodings==0.5.1
XlsxWriter==3.0.3
zopfli==0.2.1
gunicorn==23.0.0